/* animação inicial */

#about-container,
#bio-container{
opacity:0;
transform:translateY(20px);
transition:all .8s ease;
}

.show{
opacity:1;
transform:translateY(0);
}

/* hover nas skills */

.skills-box i{
transition:.3s;
cursor:pointer;
}

.skills-box i:hover{
transform:scale(1.2);
}